<%- include('../partials/admin-head') %>
<main class="login-page">
  <form class="login-card" method="post" action="/admin/login">
    <a class="brand" href="/">
      <span class="brand-mark">D</span>
      <span>Drápal Real Estate</span>
    </a>
    <h1>Administrace</h1>
    <% if (error) { %><div class="flash error"><%= error %></div><% } %>
    <label>Uživatelské jméno<input name="username" required autocomplete="username"></label>
    <label>Heslo<input type="password" name="password" required autocomplete="current-password"></label>
    <button class="button" type="submit">Přihlásit</button>
  </form>
</main>
<script src="/js/main.js"></script>
</body>
</html>
